@import "tailwindcss";

:root {
	--color-primary: #f6ebda; /* Background color */
	--color-secondary: #f97316; /* Orange color */
	--color-text-primary: #4b5563; /* Gray text */
	--color-text-secondary: #1f2937; /* Darker gray text */
	--color-hover-secondary: #ea580c; /* Darker orange for hover */
  }
#root {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	text-align: center;

	body {
    width: 600px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		height: 100vh;
		margin: 0;
		padding: 0;

		.navb {
			width: 1260px;
			margin: 0 auto;
			top: 30px;
		}
	}
}
